# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.coverage
.coverage.*
.cache
.pytest_cache/
.pytest_cache
nosetests.xml
coverage.xml
*.cover
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Distribution
dist/
build/
*.egg-info/
